@model IEnumerable<Proyecto_Inmobiliaria.Models.Usuario>

@{
    ViewData["Title"] = "Usuarios";
    var rnd = new Random();
	var Pagina = ViewBag.Pagina ?? 1;
    var TotalPaginas = ViewBag.TotalPaginas ?? 1;
}


<div class="container">
    <h1>Usuarios</h1>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Buscar..." id="searchInput">
        <div class="input-group-append">
            <a asp-action="Crear" class="btn btn-primary">Crear nuevo</a>
        </div>
    </div>

    @if (ViewData["SuccessMessage"] != null)
    {
        <div class="alert alert-success" role="alert">
            @ViewData["SuccessMessage"]
        </div>
    }

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    Avatar
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rol)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.Avatar))
                        {
                            <img width="45" height="45" style="border-radius:50px; border:solid 3px black;" src="@item.Avatar" alt="Img.Avatar" />
                        }
                        else
                        {
                            <img width="45" height="45" style="border-radius:50px; border:solid 3px black;" src="/Uploads/Avatares\usuarioSinImagen.png" alt="Sin Avatar" />
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RolNombre)
                    </td>
                    <td>
                        <div class="btn-group" role="group">
                            <a class="btn btn-primary" asp-action="Editar" asp-route-id="@item.id" title="Editar"><span
                                    class="fa fa-edit"></span></a>                           
                            <a class="btn btn-secondary" asp-action="Detalle" asp-route-id="@item.id" title="DetalleUsuario"><span
                                    class="fa fa-info"></span></a>
                            @if (User.IsInRole("Administrador")){
                                <a class="btn btn-danger" asp-action="Eliminar" asp-route-id="@item.id" title="Eliminar"><span class="fa fa-trash"></span></a>
                            }                            
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<!-- Paginacion -->
<nav aria-label="Page navigation">
	<ul class="pagination">
		<!-- Botón "Anterior" -->
		@if (Pagina > 1)
		{
			<li class="page-item">
				<a class="page-link" asp-action="Index" asp-controller="Usuario" asp-route-pagina="@(Pagina - 1)">
    				<i class="fa fa-arrow-left"></i>
				</a>
			</li>
		}
		else
		{
			<li class="page-item disabled">
				<span class="page-link"><i class="fa-solid fa-angles-left"></i></span>
			</li>
		}

		<!-- Números de página -->
		@for (int i = 1; i <= TotalPaginas; i++)
		{
			<li class="page-item @(i == Pagina ? "active" : "")">
				<a class="page-link" asp-action="Index" asp-controller="Usuario" asp-route-pagina="@i">@i</a>
			</li>
		}
		<!-- Botón "Siguiente" -->
		@if (Pagina < TotalPaginas)
		{
			<li class="page-item">
				<a class="page-link" asp-action="Index" asp-controller="Usuario" asp-route-pagina="@(Pagina + 1)" aria-label="Siguiente">
					<i class="fa fa-arrow-right"></i>
				</a>
			</li>
		}
		else
		{
			<li class="page-item disabled">
				<span class="page-link"><i class="fa-solid fa-angles-right"></i></span>
			</li>
		}		
	</ul>
</nav>

@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/search.js"></script>
}